.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: #2f9e44;
    align-items: center;
    width: 100%;
    color: black;
}

.navbar-screens {
    display: flex;
    padding: 0 30px;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-right: 100px;
}

.navbar-user {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar-auth {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}



p {
    margin: 0;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #f08c00;
    border: 2px solid black;
    color: #2f9e44;
    font-weight: 600;
    cursor: pointer;
    min-width: 7rem;
}