.row {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  border-top: none;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: black;
  background-color: white;
}

.header {   
  font-weight: bold;
  background-color: #4caf50;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid black;
}

.col {
  flex: 1;
  padding: 5px;
}

.container {
    margin: 5%;
    margin-top: 10%;
}

.icon {
  background-color: transparent;
  border: none;
  color: red ;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.button {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.671);
  color: black;
  font-weight: 600;
  border: 2px solid black;
  cursor: pointer;
}