.table-container{
    width: 80%;
    margin: auto;
    
}
  
.competition-separator {
    margin-top: 2rem; /* espacio entre competiciones */
}
  
.table-button-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

.table-button {
  padding: 12px 16px;
  font-size: 1rem; 
  color: black;
  background-color: #2f9e44;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

.table-competition {
  display: flex;
  align-items: center;
  background-color: #4caf50;
  padding: 1rem 1rem;
  border: 3px solid black;
  color: black;
  border-radius: 15px 15px 0 0;
}

.table-competition img {
  width: 50px;
  height: 50px;
}

.table-header {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
  
.table-row {
  display: flex;
  align-items: center;
  border: 3px solid black;
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 0.75rem 1rem;
  background-color: white;
  justify-content: space-between;
}

.table-action-cell {
  width: 50px;
}

.match-cell-table {
    flex: 1;
  }
  
.match-cell-table.home {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
}

.match-cell-table.away {
  display: flex;
  align-items: center;
  text-align: left;
}

.match-cell-table.center{
  max-width: 90px;
}

.playing-label {
  color: #fff;
  background-color: orange;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9rem;
}

img {
  width: 60px;
  height: 60px;
}

.table-button-edit {
  cursor: pointer;
  color: gray;
  background-color: transparent;
  border: 0;
}

.table-button-bet {
  cursor: pointer;
  background-color: transparent;
  border: none;
}